<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
<table>
    <thead>
    <tr>
      <th><input type="text" name="name" [(ngModel)]="filter.name" placeholder="Nom"></th>
      <th><input type="text" name="legaloccupation" [(ngModel)]="filter.legaloccupation" placeholder="Occupation Légale"></th>
      <th><input type="text" name="illegaloccupation" [(ngModel)]="filter.illegaloccupation" placeholder="Occupation Illégale"></th>
      <th><input type="text" name="etage" [(ngModel)]="filter.etage" placeholder="Etage"></th>
      <th><input type="text" name="age" [(ngModel)]="filter.age" step="1" placeholder="Age"></th>
      <th><input type="text" name="civilstatus" [(ngModel)]="filter.civilstatus" placeholder="Statut Civil"></th>
      <th> <input type="text" name="avatarurl" [(ngModel)]="filter.avatarurl" placeholder="Avatar"></th>
      <th><input type="text" name="criminalitylevel" [(ngModel)]="filter.criminalitylevel" placeholder="Niveau de Criminalité"></th>
      <th><input type="text" name="gender" [(ngModel)]="filter.gender" placeholder="Genre"></th>
      <th><input type="text" name="charsheeturl" [(ngModel)]="filter.charsheeturl" placeholder="Url feuille de perso"></th>
    </tr>
  </thead>
    <tbody>
        <tr *ngFor="let character of characters | characterfilter:filter">
            <td>{{character.name}}</td>
            <td>{{character.legaloccupation}}</td>
            <td>{{character.illegaloccupation}}</td>
            <td>{{character.etage}}</td>
            <td>{{character.age}}</td>
            <td>{{character.civilstatus}}</td>
            <td>{{character.avatarurl}}</td>
            <td>{{character.criminalitylevel}}</td>
            <td>{{character.gender}}</td>
            <td>{{character.charsheeturl}}</td>
        </tr>
    </tbody>
</table>
